<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="icon" type="image/png" href="images/icon1.png">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
</head>
<body>
	<div class="nav">
	<div class="center">
		<div class="nav_1 left">
			<a href="">返回首页</a>
			<a href="">收藏网站</a>
		</div>
		
		<div class="nav_2 right">
			<span>您好!欢迎光临韩都衣舍!</span>
			<a href="">登录</a>
			<a href="" class="sec">注册</a>
			<a href="">购物车</a>
			<a href="">在线客服</a>
			<a href="">帮助中心</a>
			<a href="" id="nav_2">
				<i><img src=""></i>
				网站导航
			</a>
		</div>
	</div>
	<div class="dh center">
		<ul>
			
		</ul>
	</div>
	<div class="dh_1">
		<ul>
			<li>购物车</li>
			<li>在线客服</li>
			<li>下载APP</li>
			<li class="back">返回顶部</li>
		</ul>
	</div>
	</div>
	<div class="top">
		<div class="nav_dh center">
			<div id="nav">
				<img src="images/logo1.png">
				<input type="" name="">
				<button>搜索</button>
			</div>
		</div>
	</div>
	<div class="header center">
		<img src="images/logo.png" alt="" class="logo left">
		<div class="search">
			<input type="" name="">
			<button>搜索</button>
			<div class="text">
				<a href="">韩服女孩</a>
				<a href="">可爱童装</a>
				<a href="">韩风男装</a>
				<a href="">甜美女装</a>
				<a href="">时尚妈妈</a>
				<a href="">文艺女孩</a>
			</div>
		</div>
		<div class="wx right">
			<img src="images/ewm.png" >
			<p>韩都衣舍私服搭配</p>
		</div>
	</div>
	<div class="banner">
		<div class="center">
			<div class="contents">
				<h3>全部商品分类</h3>
				<ul>
					<li>
						<p><i><img src="images/tb1.png"></i>全部商品分类</p>
						<b>本周新品</b>
						<b>按价格</b>
						<b>按销量</b>
					</li>
					<li>
						<p><i><img src="images/tb1.png"></i>全部商品分类</p>
						<b>本周新品</b>
						<b>按价格</b>
						<b>按销量</b>
					</li>
					<li>
						<p><i><img src="images/tb1.png"></i>全部商品分类</p>
						<b>本周新品</b>
						<b>按价格</b>
						<b>按销量</b>
					</li>
					<li>
						<p><i><img src="images/tb1.png"></i>全部商品分类</p>
						<b>本周新品</b>
						<b>按价格</b>
						<b>按销量</b>
					</li>
					<li>
						<p><i><img src="images/tb1.png"></i>全部商品分类</p>
						<b>本周新品</b>
						<b>按价格</b>
						<b>按销量</b>
					</li>
					<li>
						<p><i><img src="images/tb1.png"></i>全部商品分类</p>
						<b>本周新品</b>
						<b>按价格</b>
						<b>按销量</b>
					</li>
					<li>
						<p><i><img src="images/tb1.png"></i>全部商品分类</p>
						<b>本周新品</b>
						<b>按价格</b>
						<b>按销量</b>
					</li>
				</ul>
		</div>
		<div class="y_menu">
			<ul class="left">
				<li>首页</li>
				<li class="yellow">周二周五上新</li>
				<li>连衣裙</li>
				<li>T恤</li>
				<li>外套</li>
				<li>卫衣</li>
				<li class="yellow">聚划算加时特卖</li>
			</ul>
			<ul class="right">
				<li>手机专享</li>
				<li>会员俱乐部</li>
				<li>韩都咨询</li>
			</ul>
		</div>
		<div class="menu">
			<div class="menu_1"><a>潮流新品</a><a>连衣裙</a><a>卫衣</a><a>毛针织衫</a><a>
			牛仔裤</a><a>衬衫</a><a>卫衣</a><a>T恤</a><a>休闲裤</a><a>半身裙套装</a><a>羽绒服<a>棉衣</a><a>针织衫</a><a>女装爆款</a><a>男装爆款</a><a>童装爆款</a><a>妈妈装爆款</a><a>潮流新品</a><a>连衣裙</a><a>卫衣</a><a>毛针织衫</a><a>
			牛仔裤</a><a>衬衫</a><a>卫衣</a><a>T恤</a><a>休闲裤</a><a>半身裙套装</a><a>羽绒服<a>棉衣</a><a>针织衫</a><a>女装爆款</a><a>男装爆款</a><a>童装爆款</a><a>妈妈装爆款</a></div>
			<div class="menu_2"><a>潮流新品</a><a>连衣裙</a><a>卫衣</a><a>毛针织衫</a><a>
			牛仔裤</a><a>衬衫</a><a>卫衣</a><a>T恤</a><a>休闲裤</a><a>半身裙套装</a><a>羽绒服<a>棉衣</a><a>针织衫</a><a>女装爆款</a><a>男装爆款</a><a>童装爆款</a><a>妈妈装爆款</a></div>
			<div class="menu_3"><a>潮流新品</a><a>连衣裙</a><a>卫衣</a><a>毛针织衫</a><a>
			牛仔裤</a><a>衬衫</a><a>卫衣</a><a>T恤</a><a>休闲裤</a><a>半身裙套装</a><a>羽绒服<a>棉衣</a><a>卫衣</a><a>T恤</a><a>休闲裤</a><a>半身裙套装</a><a>羽绒服<a>棉衣</a><a>针织衫</a><a>女装爆款</a><a>男装爆款</a><a>童装爆款</a><a>妈妈装爆款</a></div>
			<div class="menu_4"><a>潮流新品</a><a>连衣裙</a><a>卫衣</a><a>毛针织衫</a><a>
			牛仔裤</a><a>衬衫</a><a>卫衣</a><a>T恤</a><a>休闲裤</a><a>半身裙套装</a><a>羽绒服<a>棉衣</a><a>针织衫</a><a>女装爆款</a><a>男装爆款</a><a>童装爆款</a><a>妈妈装爆款</a></div>
			<div class="menu_5"><a>潮流新品</a><a>连衣裙</a><a>卫衣</a><a>毛针织衫</a><a>
			牛仔裤</a><a>衬衫</a><a>卫衣</a><a>潮流新品</a><a>连衣裙</a><a>卫衣</a><a>毛针织衫</a><a>
			牛仔裤</a><a>衬衫</a><a>T恤</a><a>休闲裤</a><a>半身裙套装</a><a>羽绒服<a>棉衣</a><a>针织衫</a><a>女装爆款</a><a>男装爆款</a><a>童装爆款</a><a>妈妈装爆款</a></div>
			<div class="menu_6"><a>潮流新品</a><a>T恤</a><a>休闲裤</a><a>半身裙套装</a><a>羽绒服<a>棉衣</a><a>针织衫</a><a>女装爆款</a><a>男装爆款</a><a>童装爆款</a><a>妈妈装爆款</a></div>
			<div class="menu_6"><a>潮流新品</a><a>T恤</a><a>休闲裤</a><a>半身裙套装</a><a>羽绒服<a>棉衣</a><a>针织衫</a><a>女装爆款</a><a>男装爆款</a><a>童装爆款</a><a>妈妈装爆款</a></div>
			<div class="menu_7"><a>卫衣</a><a>T恤</a><a>休闲裤</a><a>半身裙套装</a><a>羽绒服<a>棉衣</a<a>卫衣</a><a>T恤</a><a>休闲裤</a><a>半身裙套装</a><a>羽绒服<a>棉衣</a>a>针织衫</a></div>
		</div>
		<div class="swiper-container" id="banner">
   			<div class="swiper-wrapper">
      	  		<div class="swiper-slide"><img src="images/slider1.jpg"></div>
      	  		<div class="swiper-slide"><img src="images/slider2.jpg"></div>
  	      		<div class="swiper-slide"><img src="images/slider3.jpg"></div>
   			</div>
   			<div class="swiper-pagination">
   			</div>
   			<div class="swiper-button-prev"></div>
   			<div class="swiper-button-next"></div>
		</div>
		</div>
	</div>
	<div class="banner_1 center">
		<img src="images/banner.png">
	</div>
	<div class="context center">
		<div class="context_left left">
			<h3 class="left">互联网时尚品牌运营集团</h3>
			<i class="right">换一批</i>
			<ul>
			</ul>
		</div>
		<div class="context_right right">
			<div class="con">
				<ul>
					<li class="active">韩都衣舍</li>
					<li>明星家族</li>
					<li>媒体报道</li>
					<li>无穷花开</li>
				</ul>
			</div>
			<div class="flower">
				<div class="active">
					<img src="images/new1.jpg">
					<ul>
						<li>签约三大韩星：韩都衣舍欲书写互联网品牌的中国时尚传奇</li>
						<li>StarVC为韩都衣舍品牌背书</li>
						<li>AMH星势力计划—韩国巨星池昌旭签约发布会</li>
					</ul>
				</div>
				<div>
					<img src="images/new2.jpg">
					<ul>
						<li>赵迎光：把决策力从老板放到员工身上</li>
						<li>供应链跟不上互联网？看韩都衣舍怎么做</li>
						<li>"迪葵纳"时尚妈妈装稳居天猫第一</li>
					</ul>
				</div>
				<div>
					<img src="images/new3.jpg">
					<ul>
						<li>韩都衣舍旗下男装AMH摘得双11淘品牌冠军</li>
						<li>韩都衣舍多级跳 淘品牌到孵化器</li>
						<li>情人节，韩都老总竟然为数百人戴戒指？</li>
					</ul>
				</div>
				<div>
					<img src="images/new4.jpg">
					<ul>
						<li>签约三大韩星：韩都衣舍欲书写互联网品牌的中国时尚传奇</li>
						<li>StarVC为韩都衣舍品牌背书</li>
						<li>AMH星势力计划—韩国巨星池昌旭签约发布会</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="show center">
		<img src="images/zhan1.png" class="left">
		<img src="images/zhan2.png" class="right">
	</div>
	<div class="floor_ctrl">
		<ul>
			<li>新品上市</li>
			<li>时尚女装</li>
			<li>时尚妈妈</li>
			<li>甜美女装</li>
			<li>时尚童装</li>
			<li class="backtop">返回顶部</li>
		</ul>
	</div>
	<div class="pro center floor_step">
		<h3>
			<ul>
				
			</ul>
		</h3>
		<div class="pro_list">
		</div>
	</div>
	<div class="hStyle center floor_step">
		<h3>
			<ul>
				<li>2017秋冬新品</li>
				<li>连衣裙</li>
				<li>针织衫</li>
				<li>卫衣</li>
				<li>短外套</li>
				<li>T恤</li>
				<li>裤装</li>
				<li>更多></li>
			</ul>
		</h3>
		<div class="hStyle_nav left">
			<img src="images/nv1.jpg">
			<div class="cate"><a>裙装</a><a>连衣裙</a><a>针织衫</a><a>卫衣</a><a>短外套</a><a>T恤</a></div>
		</div>
		<img src="images/nv2.jpg">
		<div class="hStyle_next">
			<img src="images/nv3.png">
			<img src="images/nv4.png">
		</div>
		<div class="hStyle_last right">
			<h3>热销排行榜</h3>
			<ul>
			</ul>
		</div>
	</div>
	<div class="hStyle_list center">
		<ul></ul>
	</div>
	<div class="moth center floor_step">
		<h3>
			<ul>
				<li>2017秋冬新品</li>
				<li>连衣裙</li>
				<li>针织衫</li>
				<li>卫衣</li>
				<li>短外套</li>
				<li>T恤</li>
				<li>裤装</li>
				<li>更多></li>
			</ul>
		</h3>
		<div class="moth_nav left">
			<img src="images/moth1.png">
			<div class="cate"><a>裙装</a><a>连衣裙</a><a>针织衫</a><a>卫衣</a><a>短外套</a><a>T恤</a></div>
		</div>
		<img src="images/moth2.jpg">
		<div class="moth_next right">
			<img src="images/moth3.png">
			<img src="images/moth4.png">
		</div>
	</div>
	<div class="hStyle_list center">
		<ul></ul>
	</div>
	<div class="wom center floor_step">
		<h3>
			<ul>
				<li>2017秋冬新品</li>
				<li>连衣裙</li>
				<li>针织衫</li>
				<li>卫衣</li>
				<li>短外套</li>
				<li>T恤</li>
				<li>裤装</li>
				<li>更多></li>
			</ul>
		</h3>
		<div class="wom_nav left">
			<img src="images/wom1.png">
			<div class="cate"><a>裙装</a><a>连衣裙</a><a>针织衫</a><a>卫衣</a><a>短外套</a><a>T恤</a></div>
		</div>
		<img src="images/wom2.jpg">
		<div class="wom_next right">
			<img src="images/wom3.jpg">
			<img src="images/wom4.png">
			<img src="images/wom5.jpg">
		</div>
	</div>
	<div class="hStyle_list center">
		<ul></ul>
	</div>
	<div class="child center floor_step">
		<h3>
			<ul>
				<li>2017秋冬新品</li>
				<li>连衣裙</li>
				<li>针织衫</li>
				<li>卫衣</li>
				<li>短外套</li>
				<li>T恤</li>
				<li>裤装</li>
				<li>更多></li>
			</ul>
		</h3>
		<div class="child_nav left">
			<img src="images/child1.png">
			<div class="cate"><a>裙装</a><a>连衣裙</a><a>针织衫</a><a>卫衣</a><a>短外套</a><a>T恤</a></div>
		</div>
		<img src="images/child2.jpg">
		<div class="child_next right">
			<img src="images/child3.png">
			<img src="images/child4.png">
		</div>
	</div>
	<div class="hStyle_list center">
		<ul></ul>
	</div>
	<img src="images/end.jpg" class="end center">
	<div class="information center">
		<h3>
			更多>>
		</h3>
		<div class="swiper-container" id="news">
   			<div class="swiper-wrapper">
      	  		<div class="swiper-slide"><img src="images/child2.jpg"></div>
      	  		<div class="swiper-slide"><img src="images/wom2.jpg"></div>
  	      		<div class="swiper-slide"><img src="images/zhan1.png"></div>
   			</div>
   			<div class="swiper-pagination">
   			</div>
		</div>
		<div class="news">
			<h4>时尚最新鲜</h3>
			<ul>
				<li>在韩国首创时尚大赛，韩都衣舍又创新纪录</li>
				<li>韩都衣舍2016韩国时尚设计师大赛成功举办</li>
				<li>韩都衣舍跨界玩转模特大赛牵手瑞丽“放胆秀”</li>
				<li>韩都衣舍跨界玩转模特大赛牵手瑞丽“放胆秀”</li>
				<li>韩都衣舍跨界玩转模特大赛牵手瑞丽“放胆秀”</li>
				<li>韩都衣舍多级跳 淘品牌到孵化器</li>
				<li>韩都衣舍签约亚洲女神朴信惠</li>
				<li>在韩国首创时尚大赛，韩都衣舍又创新纪录</li>
				<li>韩都衣舍2016韩国时尚设计师大赛成功举办</li>
				<li>韩都衣舍跨界玩转模特大赛牵手瑞丽“放胆”</li>
				<li>韩都衣舍跨界玩转模特大赛牵手瑞丽“放胆秀”</li>
				<li>韩都衣舍跨界玩转模特大赛牵手瑞丽“放胆秀”</li>
				<li>韩都衣舍多级跳 淘品牌到孵化器</li>
				<li>韩都衣舍签约亚洲女神朴信惠</li>
				<li>韩都衣舍跨界玩转模特大赛牵手瑞丽“放胆秀”</li>
				<li>韩都衣舍跨界玩转模特大赛牵手瑞丽“放胆秀”</li>
				<li>韩都衣舍多级跳 淘品牌到孵化器</li>
				<li>韩都衣舍签约亚洲女神朴信惠</li>
			</ul>
		</div>
		<div class="fashion">
			<img src="images/fashion.jpg">
		</div>
		<div class="email right">
			<div class="dy">
				<input type="" name="">
				<button></button>
			</div>
		</div>
	</div>
	<div class="footer center">
		<div class="footer_icfon">
			<div class="icfon_1">
				<h4></h4>
				<ul>
					<li>用户注册</li>
					<li>购物指南</li>
					<li>网站导航</li>
					<li>帮助中心</li>
				</ul>
			</div>
			<div class="icfon_2">
				<h4></h4>
				<ul>
					<li>在线支付</li>
					<li>扫码支付</li>
					<li>优惠券支付</li>
				</ul>
			</div>
			<div class="icfon_3">
				<h4></h4>
				<ul>
					<li>配送说明</li>
					<li>运费说明</li>
					<li>签货验收</li>
				</ul>
			</div>
			<div class="icfon_4">
				<h4></h4>
				<ul>
					<li>退换货政策</li>
					<li>退换货流程</li>
				</ul>
			</div>
			<div class="icfon_5">
				<h4></h4>
				<ul>
					<li>会员制度</li>
					<li>会员积分</li>
				</ul>
			</div>
			<div class="icfon_6">
				<h4></h4>
				<ul>
					<li>品牌故事</li>
					<li>媒体报道</li>
					<li>诚聘英才</li>
					<li>联系我们</li>
				</ul>
			</div>
		</div>
		<div class="footer_feature"></div>
		<div class="footer_black">
			<a href="">首页</a>
			<a href="">品牌故事</a>
			<a href="">诚聘英才</a>
			<a href="">媒体报道</a>
			<a href="">联系我们</a>
			<a href="">网站地图</a>
			<a href="">友情链接</a>
		</div>
		<div class="biao center">

			<span>
			<img src="images/lu1.gif">
			鲁ICP备14003322号-2 © 2015-2017 handu.com All Rights Reserved. 
    		
    		
    		</span>
    		<span >
			<img src="images/lu2.png">

      
     		 韩都衣舍电子商务集团股份有限公司，禁止非法复制
      
			</span>
		</div>
		<div class="pay">
			<img src="images/pay1.jpg" alt="">
			<img src="images/pay2.jpg" alt="">
			<img src="images/pay3.png" alt="">
		</div>
		<div class="lian">
    		<span style=" float:left; width:70px;">友情链接：</span>
    		<ul class="friendlink">
    		<li>女装批发网</li>
            <li>照片书</li>
            <li>优品惠</li>
            <li>广州分类信息</li>
            <li>四季青服装网</li>
            <li>优惠券</li>
            <li>虎扑识货</li>
            <li>手表品牌大全</li>
            <li>服装批发网</li>
            <li>网上购物</li>
            <li>淘牛品</li>
            <li>享优惠</li>
            <li>嘉华旅游</li>
    		</ul>
		</div>
	</div>
	<script type="text/html" id="help">
	<% for(var j=0; j<dh.length;j++){%>
		<li>
			<h1><%=dh[j].name%></h1>
			<% for(var i=0; i<dh[j].list.length;i++){%>
			<a><%=dh[j].list[i]%></a>
			<%}%>	
		</li>
	<%}%>
	</script>
	<script id="templateHtml" type="text/html">
		<% for(var j=0; j<list.length;j++){%>
			<li><img class="lazy2" src="images/loading.png" data-original="<%=list[j].url%>" "/><i></i>
			</li>
		<%}%>
	</script>
	<script id="title" type="text/html">
		<% for(var j=0; j<list.length;j++){%>
			<li><%=list[j].title%></li>
		<%}%>
	</script>
	<script id="list" type="text/html">
	
		<% for(var j=0; j<list.length;j++){%>
		<ul>
			<% for(var i=0; i<list[j].pro.length;i++){%>
			
				<li><img class="lazy" src="images/loading.png" data-original="<%=list[j].pro[i].url%>" "/><span>￥<%=list[j].pro[i].price%></span><a>立即抢购</a></li>
			
			<%}%>
		</ul>
		<%}%>
	
	</script>
	<script id="hot" type="text/html">
		<% for(var j=0; j<hot.length;j++){%>
		<li>
			<h2 id="name"><%=hot[j].name%></h2>
			<div class="hot">
				<img src="<%=hot[j].url%>">
					<p><%=hot[j].name%></p>
					<span>￥<%=hot[j].price%></span>
					<i>每月成交<%=hot[j].num%>笔</i>
			</div>
		</li>
		<%}%>
	</script>
	<script id="hSty" type="text/html">
		
			<% for(var j=0; j<5;j++){%>
				<li><img class="lazy1" src="images/loading.png" data-original="<%=hot1[j].url%>" "/><span>￥<%=hot1[j].price%></span><a>立即抢购</a></li>
			<%}%>
		
	</script>
	<script src="js/require.js"></script>
	<script src="js/main.js"></script>
</html>