.banner{
    position: relative;
    background:#c80a2b;
    height: 33px ;
}

.contents ul{
    width: 190px;
    height: 0px;
    background-color: #e3e3e3;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    top: 33px;
    left: 0;
    opacity: 0
}
#vip{
    display: block;
    width: 1000px;
    margin: 10px auto
}
.register{
    overflow: hidden;

}
.register .register_left{
    float: left;
    width: 360px;
    margin: 40px 0 0 100px;
}

.register .register_left div:first-child{
    width: 360px;
    line-height: 40px;
    font-size: 13px;
    padding-left:10px;
}
  
.register .register_left div:first-child input{
    background: url(../images/other.png) no-repeat -347px -211px;
    width: 103px;
    height: 29px;
    border: none;
    color: #fff;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 1px;
    margin: 8px 0 0 10px;
    cursor: pointer;
    outline: none;
}
.register .register_left div{

    width: 430px;
    height: 97px;
    float: left;
    margin-top: 8px;
    margin-left: -7px;
    position: relative;
}
.register .register_left div button{
    display: block;
    width: 70px;
    height: 22px;
    background: url(../images/footer00.png) no-repeat;
    float: left;
    margin: 2px 8px;
    border: none;
    cursor: pointer;
}
.register .register_left div:last-child input{
    width: 250px;
    height: 25px;
    border: 1px solid #ddd;
    float: left;
    font: 14px/20px '宋体';
    color: #666;
}
.register .register_right{
    height: 550px;
    box-sizing: border-box;
    border-left: #DDD 1px dashed;
    margin: 30px 0 0 50px;
    padding-left: 30px;
    float: left;
}  
.register_right .register_matel {
    width: 609px;
    border-bottom: #ddd 1px dashed;
    height: 120px;
    line-height: 30px;
}
.register_num {
    background: url(../images/other.png) no-repeat 0 -326px;
    width: 22px;
    height: 22px;
    color: #fff;
    float: left;
    text-align: center;
    line-height: 22px;
}
.register_numName {
    float: left;
    margin-left: 8px;
    line-height: 30px;
}
.register_fs {
    float: left;
    width: 316px;
}
.register_fs a {
    background: url(../images/other.png) no-repeat 0 -151px;
    width: 135px;
    height: 38px;
    border: none;
    display: block;
    line-height: 32px;
    float: left;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
    color: #393939
}
.register_fs a.active{
    background-position: 0 -102px;
    color: #fff;
}
.register .register_right .info{
    padding-top: 30px;
    display: none;
}
.register .register_right .info.active{
    display: block;
}
.register .register_right .info .register_numName ul{
    padding-top:20px
}
.register .register_right .info .register_numName ul li{
    
    height: 50px
}
.register .register_right .info .register_numName ul li.txt{
    height: 20px;
    line-height: 0px
}
.register .register_right .info .register_numName ul li span{
    width: 115px;
    text-align: right;
    float: left;
    color: #393939;
    padding-right: 10px
}
.register .register_right .info .register_numName ul li input.text{
    background: url(../images/shopping.png) no-repeat -0 -182px;
    width: 210px;
    height: 33px;
    border: none;
    float: left;
    text-indent: 5px;
    line-height: 33px;
    outline: none;
}
.register .register_right .info .register_numName ul li input.phone{
    background: url(../images/other.png) no-repeat -256px -107px;
    width: 116px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin: 3px 0 0 5px;
    color: #7b7b7b;
    outline: none;
    border:none;
    float: left;
}
.register .register_right .info .register_numName ul li .register_list_neirong{
    font-size:12px;
    padding-left:120px;
    color: #7b7b7b;
}
.register .register_right .info .register_numName ul li .register_list_tishi{
    text-align: right;
    float: left;
    color: #bf0000;
    font-size: 12px ;
}
.register .register_right .info .register_numName ul li:last-child{
    padding-left: 120px;
    color: #393939;
    font-size: 16px;
}
.register .register_right .info .register_numName ul li:last-child a{
    color: #bf0000
}
.register .register_right .info .register_numName ul li:last-child button{
    background: url(../images/other.png) no-repeat 0 -51px;
    width: 171px;
    height: 43px;
    border: none;
    font-size: 18px;
    color: #fff;
    margin: 10px 0 0 20px;
}
/*.register .register_right .info .register_numName ul li div.active{
    display: block;
}*/
.register .register_right .info .register_numName ul li div.register_list_tishi{
    width: 120px;
    height: 40px;
    float: left;
}
.register .register_right .info .register_numName ul li div.register_list_tishi i{
    display: block;
    width: 30px;
    height: 30px
}